h1{
   
    color: black;
    font-family: sans-serif;
}
#header-nav{
    background-color: darkslateblue;
    border-radius: 0;
    border:0;
    margin-top: 0;
    padding-top: 0;
}
h1{
    text-align: center;
}
#largebox{
    box-sizing: border-box;
    width: 90%;
    height:500px;
    padding-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
#box1{
 height: 200px;
 width: 400px;
 background-color: lightgreen;
 font-family: sans-serif;
font-size: medium;
border: solid
 
}
#box2{
    height: 200px;
 width: 400px;
 background-color: lightgreen;
font-family: sans-serif;
font-size: medium;
border: solid
 
}
#box3{
 height: 200px;
 width: 400px;
 background-color: lightgreen;
 font-family: sans-serif;
font-size: medium;
border: solid

}
h1{
 font-family: sans-serif;
font-size: 40px;  
}
p{
    padding: 10px;
    font-size: 15px;
    
}
h2{
    text-align: right;
    padding-right: 10px;
    
 }
 #one{
     background-color:hotpink;
     border: 2px solid;
 }
 #two{
     background-color:rebeccapurple;
    border: 2px solid;
 }
 #three{
     background-color: peru;
    border: 2px solid;
 }
